<div>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl.No.</th>
                        <th>Reg.No.</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="">
                        <td></td>
                        <!-- <td>{{student.rollno}}</td>
                        <td>{{student.name}}</td>  -->
                        <!-- <td>XX</td>
                        <td>XX</td> -->
                        <th><button class="btn btn-primary">Remove</button></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">

        </div>
    </div>
</div>
