<div class="contianer">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Attendance</th>
                    <th>Test Paper</th>
                    <th>Assignment</th>
                    <th>Seminar</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td><h5>Paper 1</h5></td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
