<div class="container jumbotron">
    <div class="form-group">
        <div class="dropdown">
            <label>Year Of Admission</label><br>
            <select class="form-control">
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="dropdown">
            <label>Semester</label><br>
            <select class="form-control">
                <option>Semester 1</option>
                <option>Semester 2</option>
                <option>Semester 3</option>
                <option>Semester 4</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <a routerLink='internal'><button class="btn btn-secondary form-control">Submit</button></a>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
