<div class="contianer">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Reg No.</th>
                    <th colspan="2">Paper 1</th>
                    <th colspan="2">Paper 2</th>
                    <th colspan="2">Paper 3</th>
                    <th colspan="2">Paper 4</th>
                    <th colspan="2">Paper 5</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <th></th>
                    <th>Internal</th>
                    <th>External</th>
                    <th>Internal</th>
                    <th>External</th>
                    <th>Internal</th>
                    <th>External</th>
                    <th>Internal</th>
                    <th>External</th>
                    <th>Internal</th>
                    <th>External</th>
                </tr>
                <tr>
                    <td>CUMATXX001</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    
<!-- pb form -->
<div>
    <h4>Pareeksha Bhavan Form</h4>
</div>
<div class="container jumbotron">
    <div class="form-group">
        <div class="dropdown">
            <label>Year Of Admission</label><br>
            <select class="form-control">
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="dropdown">
            <label>Semester</label><br>
            <select class="form-control">
                <option>Semester 1</option>
                <option>Semester 2</option>
                <option>Semester 3</option>
                <option>Semester 4</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Enter the moderation percentage</label><br>
        <input type="number" class="form-control">
    </div>
    <div class="form-group">
        <a><button class="btn btn-secondary form-control">Apply Moderation</button></a>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>


