<div>
  <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-8 container jumbotron">
          <form>
              <div>
                  <label>Batch Name</label>
                  <input type="text" class="form-control">
              </div>
              <br>
              <div>
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
          </form>
      </div>
      <div class="col-sm-2">

      </div>
  </div>
</div>
