<div class="contianer">
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Reg No.</th>
                <th>Paper 1</th>
                <th>Paper 2</th>
                <th>Paper 3</th>
                <th>Paper 4</th>
                <th>Paper 5</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td><h5>CUATXX001</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
