<div>
    <label>Name : </label><br>
    <label>Course :</label><br>
    <label>Register Number :</label><br>
</div>
<div>
    <div class="contianer">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>1 st Semester</td>
                        <td><a routerLink="sinternal">Internal</a></td>
                        <td><a routerLink="sgrade">Grade Card</a></td>
                    </tr>
                    <tr>
                        <td>2 st Semester</td>
                        <td><a>Internal</a></td>
                        <td><a>Grade Card</a></td>
                    </tr>
                    <tr>
                        <td>3 st Semester</td>
                        <td><a>Internal</a></td>
                        <td><a>Grade Card</a></td>
                    </tr>
                    <tr>
                        <td>4 st Semester</td>
                        <td><a>Internal</a></td>
                        <td><a>Grade Card</a></td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>
