.class0{
    margin-top: 15%;
}
.class1{
    margin-top: 3%;
}
.head{
    text-align: center;
    padding-left: 2%;
    color: darkslategray;
    font-size: 30pt;
}
img{
    margin-bottom: 3%;
    margin-left: 25%;
}